.card{
    position: relative;
    background-color: white;
    margin: 5px;
    width: 230px;
    height: 310px;
    border: 1px solid rgba(224, 224, 224, 0.01);
    box-shadow: 1px 1px 7px lightgray;
    transition: all 0.3s ease-in-out;
}
.card:hover{
    box-shadow: 3px 3px 10px lightgray;
    /* height: 320px; */
}
.card-image{
    margin-top: 5px;
height: 160px;
width: 185px;
transition: all 0.3s ease-in-out;
}

/* .card-image:hover{
    height: 170px;
width: 190px;
} */
.card-name{
    font-size: 21px;
    margin: 0;
}
.star-wrapper{
    top:10px;
    right: 20px;
    position: absolute;
}
