.body {
  background-image: url(../img/background1.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  height: 100vh;
  display: grid;
}
.header {
  display: flex;
  height: 58px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: space-between;
  align-items: center;
}
.header-heading {
  padding-left: 5.783vw;
}
a {
  text-decoration: none;
}
.header-link:hover #green {
  fill: #01813f;
}

.header-menu {
  display: flex;
  align-items: center;
  padding-right: 5.783vw;
}

.header-heading-text {
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
}
.header-text {
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}
.header-link:hover .header-text {
  color: #01813f;
}
.header-link:hover .header-heading-text {
  color: #01813f;
}
.header-icon {
  margin-right: 1.977vw;
}
.main{
  margin: 3vh 0;
  justify-self: center;
  position: relative;
  width: 444px;
  height: 584px;
  background-color: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.green-square {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0px;
  top: 29px;
  background-color: #3cb878;
}
.login-form {
  padding: 29px 60px 38px;
}
.login-form-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-form-heading-signup {
  font-weight: 400;
  font-size: 20px;
  color: #434343;
}
.login-form-heading-login {
  font-weight: 400;
  font-size: 14px;
  color: #3cb878;
}
.login-form-heading-link:hover {
  text-decoration: underline;
  color: #01813f;
}
.login-form-heading-link:hover .login-form-heading-login {
  color: #01813f;
}
.login-form-socialnetworks {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
button {
  cursor: pointer;
}
.button-facebook {
  width: 160px;
  height: 48px;
  background-color: #305db8;
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.button-text {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}
.button-facebook:hover {
  background-color: #022263;
}
.button-google {
  width: 160px;
  height: 48px;
  background-color: #df4a32;
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
}
.button-google:hover {
  background-color: #ab1f09;
}
.button-google-logo {
  display: flex;
  align-items: center;
}
.button-google-icon {
  padding: 0 7px;
}
.button-google-text {
  flex-grow: 1;
}
.form-or {
  margin-top: 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-or-text {
  font-weight: 400;
  font-size: 14px;
  color: #848484;
}
.input {
  outline: 0;
  box-sizing: border-box;
  padding: 16px 20px;
  width: 324px;
  height: 46px;
  margin-top: 15px;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  color: #434343;
}
input:first-of-type {
  margin-top: 12px;
}
.input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
input::placeholder {
  color: #bebebe;
}
.checkbox {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.customcheckbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #f2f2f2;
}
.customcheckbox-icon {
  visibility: hidden;
  position: absolute;
  top: 2px;
  left: 2px;
}
.form-label input:checked ~ .customcheckbox .customcheckbox-icon {
  visibility: visible;
}
.form-label {
  cursor: pointer;
  display: block;
  padding-top: 5px;
  text-align: left;
  margin-top: 12px;
  padding-left: 28px;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  color: #434343;
}
.form-label-link {
  color: #3cb878;
  text-decoration: none;
}
.form-label-link:hover {
  text-decoration: underline;
  color: #01813f;
}
.button-signup {
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  width: 324px;
  height: 46px;
  border: none;
  margin-top: 20px;
}
.button-signup:hover {
  background: #01813f;
}
