footer {
  padding: 35px 0 22px;
  background-color: black;
  text-align: center;
  h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #fefefe;
    text-transform: uppercase;
  }
  p {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #b9b9b9;
    margin: 8px 35px 25px;
    span {
      display: none;
    }
  }
  p:last-child {
    margin-top: 25px;
    font-size: 14px;
    line-height: 24px;
    span {
      display: block;
    }
  }
}

@media only screen and (min-width: 768px) {
  footer {
    h2 {
      font-size: 16px;
    }
    p {
      margin: 8px auto 25px;
      max-width: 684px;
      font-size: 16px;
      span {
        display: inline;
      }
    }
    p:last-child {
      span {
        display: inline;
      }
    }
  }
}
