.header {
  .nav {
    margin-right: 25px;
    text-align: right;
    .material-symbols-outlined {
      text-align: center;
      width: 44px;
      background: black;
      color: white;
      padding: 7px 0;
    }
    &__ul {
      position: absolute;
      right: 25px;
      display: flex;
      flex-direction: column;
      width: 0px;
      overflow: hidden;
      height: 208px;
      li {
        text-align: left;
        list-style-type: none;
        font-weight: 400;
        font-size: 11px;
        line-height: 22px;
        padding: 4px 13px;
        color: $text_color;
        &:hover {
          background-color: #e5e5e5;
        }
      }
      .home {
        color: #57a4a4;
      }
    }
    &__ul--active{
      overflow: visible;
      width: 182px;
      background: #f5f5f5;
    }
  }
}

@media only screen and (min-width: 768px) {
  .header {
    .nav {
        margin-right: 0;
      .material-symbols-outlined {
        display: none;
      }
      &__ul {
        overflow: visible;
        margin-top: 40px;
        flex-direction: row;
        position: static;
        justify-content: center;
        background: none;
        width: auto;
        height: auto;
      }
    }
  }
}
@media only screen and (min-width: 1200px){
    .header{
        max-width: 1170px;
        margin: 0 auto;
        .nav{
            &__ul{
                padding: 0 15%;
                justify-content: space-evenly;
            }
        }
    }
}