.main {
  .posts {
    margin: 28px 25px;
    > img {
      object-fit: cover;
      width: 100%;
    }
  }

  h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: $text_color;
    margin-top: 38px;
    margin-bottom: 23px;
    text-transform: uppercase;
  }
  ul {
    li {
      margin: 25px 0;
      list-style-type: none;
      img {
        margin-bottom: 11px;
      }
      h3 {
        font-weight: 700;
        font-size: 14px;
        line-height: 30px;
        color: $text_color;
      }
      p {
        font-weight: 400;
        font-size: 11px;
        line-height: 20px;
        color: #7c7c7c;
      }
      p:last-child {
        display: none;
      }
    }
    li:last-child {
      display: none;
    }
  }
  .instagram {
    padding: 38px 25px;
    &__heading {
      display: none;
    }
    img {
      display: none;
    }
    p {
      display: none;
    }
    img:nth-child(2) {
      display: inline;
      width: 100%;
      max-width: 301px;
    }
  }
}
@media only screen and (min-width: 768px) {
  .main {
    .posts {
      margin: 28px 80px;
    }
    ul {
      li {
        display: flex;
        img {
          margin-right: 20px;
        }
        h3 {
          font-size: 16px;
        }
        p {
          font-size: 12px;
        }
        p:last-child {
          display: block;
          font-weight: 400;
          font-size: 14px;
          line-height: 26px;
          color: #5c5c5c;
        }
      }
      li:last-child {
        display: flex;
      }
    }
    .instagram {
      padding: 50px 80px;
      text-align: center;
      &__heading {
        display: block;
      }
      &__heading-mobile {
        display: none;
      }
      div {
        display: flex;
        margin: 0 auto 35px;
        justify-content: space-between;
      }
      h2 {
        margin: 0;
      }
      p {
        font-weight: 700;
        font-size: 13px;
        display: block;
        color: $text_color;
        text-transform: uppercase;
      }
      img:not(:last-child) {
        width: 32.5%;
        height: 32.5%;
        object-fit: cover;
        display: inline;
        max-width: none;
      }
    }
  }
  .instagram__wrapper {
    background: rgba(0, 0, 0, 0.03);
  }
}

@media only screen and (min-width: 1200px) {
  .main {
    margin: 0 auto;
    .posts {
      margin: 28px auto;
      max-width: 1170px;
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
    .instagram {
      margin: 0 auto;
      padding: 50px 0;
      max-width: 1170px;
      img:not(:last-child){
        width: 24.5%;
        height: 24.5%;
      }
      img:last-child{
        display: inline;
        width: 24.5%;
        height: 24.5%;
      }
    }
  }
}
