.body {
  background-color: #171717;
  margin-top: 2.875rem;
  font-family: 'Gilam', sans-serif;
}
.content {
  max-width: 1460px;
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7.5rem;
}
.header-feedback {
  border: #e4b564 1px solid;
  padding: 0.625rem 1.563rem;
}
.header-feedback-img {
  margin-right: 0.625rem;
}
.header-feedback-link {
  text-decoration: none;
  color: #e4b564;
  font-family: 'Circe', sans-serif;
  font-size: 1.125rem;
}
.main-heading {
  color: #ffffff;
  font-size: 3.125rem;
  font-weight: 700;
  margin-bottom: 2.563rem;
}
.main-text {
  display: inline-block;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.25rem;
  max-width: 69rem;
  line-height: 1.75rem;
  margin-bottom: 2.563rem;
}
.main-grid {
  height: 60.063rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 1.563rem;
  grid-row-gap: 1.563rem;
  margin-bottom: 10.063rem;
}
.grid-element {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.25rem;
  color: #ffffff;
  text-align: center;
}
.grid-element-1 {
  background-color: #634f2c;
  grid-area: 1 / 1 / 3 / 3;
}
.grid-element-2 {
  background-color: #b4a385;
  grid-area: 1 / 3 / 3 / 5;
}
.grid-element-3 {
  background-color: #e4b564;
  grid-area: 1 / 5 / 3 / 7;
}
.grid-element-4 {
  background-color: #b08c4d;
  grid-area: 3 / 4 / 5 / 7;
}
.grid-element-5 {
  background-color: #635a4a;
  grid-area: 3 / 1 / 5 / 4;
}
.main-grid-2 {
  height: 60.063rem;
  margin-top: 5.875rem;
  margin-bottom: 11.938rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 1.563rem;
  grid-row-gap: 1.563rem;
}
.grid-2-element {
  font-size: 1.25rem;
  line-height: 1.563rem;
  padding-top: 2.75rem;
  padding-left: 3.188rem;
  color: #ffffff;
}
.grid-2-element-1 {
  grid-area: 1 / 1 / 5 / 2;
  background-color: #0e0e0e;
}
.grid-2-element-2 {
  grid-area: 5 / 1 / 8 / 2;
  background-color: #1f1f1f;
  font-weight: 500;
}
.grid-2-element-3 {
  grid-area: 4 / 2 / 8 / 3;
  background-color: #e4b564;
  color: #000000;
  font-weight: 500;
}
.grid-2-element-4 {
  grid-area: 1 / 2 / 4 / 3;
  background-color: #242424;
}
.grid-2-element-5 {
  grid-area: 1 / 3 / 3 / 4;
  background-color: #1f1f1f;
  font-weight: 500;
}
.grid-2-element-6 {
  grid-area: 3 / 3 / 6 / 4;
  background-color: #0e0e0e;
  font-weight: 500;
}
.grid-2-element-7 {
  font-weight: 700;
  grid-area: 6 / 3 / 8 / 4;
  background-color: #0a0909;
}
.bold-text{
  font-weight: 700;
}
.extrablack {
  padding-top: 10.75rem;
  background-color: #0e0e0e;
  margin-bottom: 10%;
}
.clients-container {
  max-width: 1460px;
  margin: 0 auto;
}
.clients-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4.5rem;
}
.clients-projects{
  border: #e4b564 1px solid;
  padding: 0.625rem 2.5rem;
}
.clients-projects-link{
  text-decoration: none;
  color: #e4b564;
  font-family: 'Circe', sans-serif;
  font-size: 1.125rem;
}
.clients-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.clients-grid-element {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24.438rem;
  text-align: center;
}
.clients-grid-element-1 {
  grid-area: 1 / 1 / 2 / 2;
  background-color: #634F2C;
}
.clients-grid-element-2 {
  flex-direction: column;
  grid-area: 1 / 2 / 2 / 3;
  background-color: #E8D2ABC2
}
.clients-grid-element-3 {
  grid-area: 1 / 3 / 2 / 4;
background-color: #E4B564;
}
.clients-grid-element-4 {
  background-color: #635A4A;
  grid-area: 2 / 1 / 3 / 2;
}
.clients-grid-element-5 {
  grid-area: 2 / 2 / 3 / 3;
background-color: #B08C4D;
}
.clients-grid-element-6 {
  background-color: #634F2C;
  grid-area: 2 / 3 / 3 / 4;
}
.clients-grid-element-2-text{
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.75rem;
  color: #ffffff;
}
.clients-grid-element-2-text-400{
  font-weight: 400;
}
