.body {
  font-family: "Montserrat", sans-serif;
}
.home {
  background-image: url("../img/Layer\ 1\ 5.png");
  height: 1012px;
  background-size: cover;
  background-attachment: fixed;
}
.header-wrapper {
  background-color: rgba(94, 93, 88, 0.6);
}
.header {
  margin: 0 auto;
  max-width: 1160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
.header-logo-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-logo {
  background-image: url("../img/Polygon\ 1\ 1.png");
  height: 67px;
  width: 58px;
  position: relative;
  display: block;
}
.header-logo-h {
  position: absolute;
  top: 27%;
  left: 21%;
  font-weight: 700;
  font-size: 40px;
  line-height: 31px;
  color: #ffffff;
}
.header-logo-the {
  font-weight: 400;
  font-size: 32px;
  color: #ffffff;
}
.header-nav-link {
  margin-right: 21px;
}
.header-logo-ham {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #18cfab;
}
.header-nav-link {
  transition-duration: 0.4s;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.header-nav-link:hover {
  color: #18cfab;
  text-decoration: underline #18cfab solid;
  text-underline-offset: 51px;
  text-decoration-thickness: 2px;
}
.home-p-wrapper {
  height: 892px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-p-1 {
  font-weight: 700;
  font-size: 35px;
  color: #ffffff;
}
.home-p-1-span {
  color: #18cfab;
}
.home-p-2 {
  margin-top: 22px;
  font-weight: 700;
  font-size: 78px;
  color: #ffffff;
}
.home-p-3 {
  margin-top: 22px;
  font-weight: 400;
  font-size: 34px;
  color: #d4d4d4;
  margin-bottom: 134px;
}
.home-button {
  box-shadow: 0px -5px white;
  border: 0;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
  width: 169px;
  height: 63px;
  margin-right: 26px;
}
.home-button-explore {
  background: #18cfab;
}
.home-button-purchase {
  background: #00cbf6;
}
.options {
  box-shadow: 0px -10px white;
  display: flex;
}
.options-black {
  text-align: center;
  width: 25%;
  height: 377px;
  background-color: #1c2a33;
}
.options-green {
  text-align: center;
  width: 25%;
  height: 377px;
  background-color: #18cfab;
}
.options-img {
  margin-top: 95px;
}
.options-black-p {
  font-weight: 700;
  font-size: 20px;
  color: #18cfab;
  margin-top: 45px;
}
.options-green-p {
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  margin-top: 65px;
}
.service {
  text-align: center;
  max-width: 1160px;
  margin: 0 auto;
}
.service-heading {
  margin-top: 83px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 36px;
  color: #4e4e4e;
}
.service-list {
  margin-top: 65px;
  margin-bottom: 23px;
  display: flex;
}
.service-list-item {
  font-weight: 400;
  font-size: 15.9859px;
  color: #717171;
  transition-duration: 0.4s;
  flex-grow: 1;
  background: #f8fcfe;
  border: 1px solid #edefef;
  padding: 16px 34px;
}
.service-list-item:hover {
  border: 1.5px solid #18cfab;
}
.service-list-item-active {
  color: #ffffff;
  background: #18cfab;
  position: relative;
}
.service-list-item-active::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: calc(50% - 10px);
  border-top: 10px solid #18cfab;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.service-list-text {
  text-align: left;
}
.service-list-content {
  font-weight: 300;
  font-size: 13.645px;
  line-height: 24px;
  color: #777777;
  display: none;
  margin-bottom: 91px;
}
.service-list-content-active {
  display: inline-block;
}
.service-list-content-img {
  float: left;
  margin-right: 15px;
  width: 192px;
  height: 139px;
}
.purchase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 1160px;
  text-align: center;
  height: 476px;
}
.purchase-wrapper {
  height: 476px;
  background-image: url("../img/purchasebackground.png");
  background-size: cover;
}
.purchase-heading {
  font-weight: 700;
  font-size: 40px;
  color: #18cfab;
}
.purchase-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #d8d8d8;
}
.purchase-button {
  box-shadow: 0px -5px white;
  border: 0;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
  width: 168px;
  height: 63px;
  background: #18cfab;
}
.work {
  margin: 0 auto;
  text-align: center;
  max-width: 1160px;
}
.work-wrapper {
  padding-bottom: 90px;
  background-color: #e9edef;
}
.work-heading {
  padding-top: 95px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 36px;
  color: #4e4e4e;
}
.work-list {
  margin-top: 69px;
  margin-bottom: 71px;
  display: flex;
  justify-content: center;
}
.work-list-item {
  transition: border-color 0.4s;
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;
  padding: 14px 15px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #dadada;
}
.work-list-item-all {
  padding: 14px 28px;
}
.work-list-item:hover {
  border-color:#18cfab;
}
.work-list-item-active {
  border: 2px solid #18cfab;
}
.work-grid {
  margin: 0 auto;
  width: 1136px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.work-grid-item {
  display: none;
  width: 284px;
  height: 206px;
}
.work-grid-item-active {
  display: block;
}
.work-grid-item:hover > img {
  display: none;
}
.work-grid-item:hover > .work-grid-alt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 284px;
  height: 200px;
  border-top: 4px solid #18cfab;
}
.work-grid-alt {
  display: none;
}
.work-icon {
  width: 88px;
  height: 43px;
}
.work-grid-alt-text {
  color: #18cfab;
  font-weight: 700;
  font-size: 14.1771px;
  line-height: 25px;
}
.work-grid-alt-text-small {
  font-weight: 300;
  font-size: 12.1518px;
  line-height: 25px;
  color: #8a8a8a;
}
.button-load {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 70px auto 0;
  border: 0;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
  width: 168px;
  height: 63px;
  background: #18cfab;
}
.breaking-news {
  max-width: 1160px;
  margin: 0 auto;
  text-align: center;
}
.breaking-news-heading {
  margin: 82px 0 24px;
  font-weight: 400;
  font-size: 36px;
  color: #4e4e4e;
}
.breaking-news-grid {
  margin-top: 68px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 35px;
  grid-row-gap: 45px;
}
.breaking-news-grid-item {
  width: 263px;
}
.breaking-news-grid-link {
  position: relative;
  text-decoration: none;
}
.breaking-news-grid-link:hover .breaking-news-grid-heading {
  color: #18cfab;
}
.breaking-news-grid-square {
  transition-duration: 0.4s;
  width: 70px;
  height: 68px;
  background-color: #203e38;
  position: absolute;
  right: 0px;
}
.breaking-news-grid-link:hover .breaking-news-grid-square {
  background-color: #18cfab;
}
.breaking-news-grid-square-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  margin-top: 10px;
}
.breaking-news-grid-heading {
  transition-duration: 0.4s;
  font-weight: 700;
  font-size: 17.9885px;
  line-height: 39px;
  color: #717171;
}
.breaking-news-grid-text {
  font-weight: 300;
  font-size: 13.991px;
  line-height: 10px;
  color: #777777;
}
.breaking-news-grid-line {
  margin: 0 10px;
}
.feedback-wrapper {
  margin-top: 128px;
  margin-bottom: -1px;
  background-image: url(../img/feedbackbackground.png);
  background-size: cover;
}
.feedback {
  max-width: 1160px;
  margin: 0 auto;
  text-align: center;
}
.feedback-heading {
  padding-top: 98px;
  font-weight: 400;
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 25px;
}
.feedback-quote {
  overflow: hidden;
  transition-duration: 0.8s;
}
.feedback-quote-wrapper {
  margin-top: 66px;
  height: 557px;
  display: flex;
}
.active {
  width: 1160px;
  opacity: 1;
}
.hidden {
  width: 0;
  opacity: 0;
}
.feedback-quote-text {
  height: 60px;
  width: 1160px;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  margin: 37px 0;
  color: #bbbbbb;
}
.feedback-quote-author {
  height: 27px;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #18cfab;
}
.feedback-quote-job {
  height: 27px;
  font-weight: 300;
  font-size: 13px;
  line-height: 27px;
  color: #bbbbbb;
}
.feedback-quote-img {
  margin-top: 38px;
  width: 143px;
  height: 142px;
  background-size: cover;
  border-radius: 50%;
  border: 10px solid rgba(31, 218, 181, 0.2);
}
.feedback-clients {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 486px;
  margin: 0 auto;
}
.feedback-clients-img {
  transition-duration: 0.4s;
  width: 60px;
  height: 59px;
  background-size: cover;
  border-radius: 50%;
  border: 5px solid rgba(31, 218, 181, 0.2);
}
.feedback-clients-img-active {
  margin-bottom: 20px;
}
.feedback-button {
  transition-duration: 0.4s;
  width: 31px;
  height: 31px;
  background-color: rgba(0, 0, 0, 0.0001);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 16px;
  border: 1px solid rgba(187, 187, 187, 0.45);
}
.feedback-button-left {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='1 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.50764 12.5076L7.81261 11.1056L3.52463 6.49631L7.81261 1.88987L6.50764 0.486695L0.91457 6.49631L6.50764 12.5076Z' fill='%23BBBBBB'/%3E%3C/svg%3E%0A");
}
.feedback-button-left:hover {
  background-color: #18cfab;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='1 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.50764 12.5076L7.81261 11.1056L3.52463 6.49631L7.81261 1.88987L6.50764 0.486695L0.91457 6.49631L6.50764 12.5076Z' fill='white'/%3E%3C/svg%3E%0A");
}
.feedback-button-right {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='-1 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.49213 0.48752L0.18704 1.88987L4.47503 6.49714L0.18704 11.1056L1.49213 12.5084L7.08508 6.49714L1.49213 0.48752Z' fill='%23BBBBBB'/%3E%3C/svg%3E ");
}
.feedback-button-right:hover {
  background-color: #18cfab;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='-1 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.49213 0.48752L0.18704 1.88987L4.47503 6.49714L0.18704 11.1056L1.49213 12.5084L7.08508 6.49714L1.49213 0.48752Z' fill='white'/%3E%3C/svg%3E ");
}
.footer {
  height: 121px;
  background: #22353f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-text {
  font-weight: 300;
  font-size: 14px;
  color: #aeaeae;
}
.footer-text-theham {
  color: #18cfab;
}
