.body {
  font-family: roboto;
}
.content {
  width: 1280px;
  margin: 0 auto;
}
.header {
  height: 189px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-heading {
  color: black;
  text-decoration: none;
  font-size: 5rem;
}
.header-heading-logo {
  color: #4bcaff;
  text-decoration: none;
}
.header-menu {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #35444f;
  height: 69px;
}
.header-menu-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
}
.header-menu-item {
  border-right: 1px solid white;
  padding-left: 35px;
  padding-right: 35px;
  height: 69px;
}
#header-menu-item-first {
  border-left: 1px solid white;
}
.main {
  margin-top: 49px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-navigation {
  box-sizing: border-box;
  width: 344px;
  height: 399px;
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main-navigation-link {
  font-size: 1.688rem;
  text-decoration: none;
  color: #495863;
}
.main-navigation-item {
  padding-left: 42px;
}

.main-article {
  width: 885px;
  height: 832px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-article-imgbox {
  box-sizing: border-box;
  width: 885px;
  height: 529px;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-article-paragraph {
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}
.footer {
  background-color: #63696e7a;
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 54px;
}
.footer-item {
  color: #0c1927;
}
.footer-link {
  text-decoration: none;
  font-size: 1.75rem;
  color: #0c1927;
}
.footer-item-ramda {
  margin-left: 40px;
}
.footer-item-copyright {
  font-size: 1.5rem;
  text-align: end;
  margin-left: 80px;
  margin-right: 40px;
}
