.shopping-card{
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 5px;
    width: 230px;
    height: 100px;
    border: 1px solid rgba(224, 224, 224, 0.01);
    box-shadow: 1px 1px 7px lightgray;
    transition: all 0.3s ease-in-out;
}

.shopping-card:hover{
    background-color: white;
    box-shadow: 3px 3px 10px lightgray;
}
.delete-from-basket{
    position:absolute;
    top: 5px;
    right: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}