.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }
  
  .modal-content {
    background-color: red;
    margin: 15% auto;
    border: 1px solid #888;
    border-radius: 10px;
    width: 400px;
  }
  .modal-header{
    padding: 15px;
    background-color: rgba(0,0,0,0.15)
  }
  .modal-header-text{
    color: white;
    font-size: 18px;
  }
  .close {
    float: right;
  }
  #close-icon{
    fill: #ffffff
  }
  #close-icon:hover,
  #close-icon:focus {
    cursor: pointer;
  }
  .modal-text{
    margin: 0;
    text-align: center;
    font-size: 13px;
    color: white;
    padding: 15px 10px;
  }
  .actions{
    text-align: center;
    margin: 0px 5px 15px
  }
  .close-button{
    font-weight: bold;
    color: white;
    margin: 0px 5px;
    background-color: rgba(0,0,0,0.2);
    border: none;
    border-radius: 5px;
    width: 80px;
    height: 30px;
  }
  .close-button:hover,.close-button:focus{
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
  }