.button-buy{
    font-family: 'Montserrat', sans-serif;
    width: 120px;
    height: 40px;
    border-width: 0;
    border-radius: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.button-buy:hover{
    background-color: rgba(0, 0, 0, 0.7);
}