.body {
  font-family: "Roboto", sans-serif;
  background-image: url(../img/background\ 1.png);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header {
  margin: 0 auto;
  display: flex;
  width: 1028px;
  height: 47px;
  justify-content: space-between;
}
.header-logo {
  display: flex;
}
.header-logo-text {
  position: relative;
  left: 10px;
}
.header-logo-text-big {
  display: block;
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
}
.header-logo-text-small {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}
.header-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.header-link {
  text-decoration: none;
  color: #ffffff;
}
.header-logo-hover {
  visibility: hidden;
  position: absolute;
}
.header-link:hover {
  color: #f26522;
}
.header-link:hover .header-logo-hover {
  visibility: visible;
}
.main {
  max-width: 1028px;
  margin: 0 auto;
}
.main-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 65px;
  grid-row-gap: 37px;
  max-width: 1028px;
  margin: 17px auto 0;
}

.main-grid-box1 {
  grid-area: 1 / 1 / 2 / 2;
}
.main-grid-box2 {
  grid-area: 1 / 2 / 2 / 3;
}
.main-grid-box3 {
  grid-area: 1 / 3 / 2 / 4;
}
.main-grid-box4 {
  grid-area: 2 / 1 / 3 / 2;
}
.main-grid-box5 {
  grid-area: 2 / 2 / 3 / 3;
}
.main-grid-box6 {
  grid-area: 2 / 3 / 3 / 4;
}
.main-grid-link {
  text-decoration: none;
}
.img-holder {
  position: relative;
}
.image {
  width: 300px;
  height: 220px;
  object-fit: cover;
}
.overlay {
  position: absolute;
  bottom: 0;
  background-color: #f26522;
  overflow: hidden;
  width: 300px;
  height: 0;
  transition: 0.5s ease;
}

.text {
  padding: 7px 16px 0 16px;
  color: #ffffff;
  position: absolute;
  overflow: hidden;
}
.main-grid-link:hover .overlay {
  height: 55px;
}
.main-grid-link:hover p {
  color: #f26522;
}
.text-from {
  display: block;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  margin-bottom: 8px;
}
.text-price {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}
.text-details {
  margin-left: 128px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}
.text-details::after {
  padding-left: 16px;
  content: url("../img/Vector\ 1.png");
}
p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
}
.footer {
  max-width: 1028px;
  margin: 0 auto;
  text-align: center;
  margin-top: 49px;
}
.footer-span {
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
}
