@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url(./Components/Modal/index.css);
@import url(./Components/Card/index.css);
@import url(./Components/ButtonToShowModal/index.css);
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  font-family: 'Montserrat', sans-serif;
  background-image: url("./bg.jpg");
  text-align: center;
  margin: 0 auto;

}
.cards{
  display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.header{
  color: white;
  height: 40px;
  background-color: rgba(27, 26, 26, 0.9);
  margin-bottom: 20px;
}
.header-text{
  display: inline-block;
  padding: 8px 20px;
  font-size: 16px;

}
#header-fav{
  margin-right: 20px;
}
.shopping-basket{
  position: absolute;
    right: 20px;
    top: 7px;
}
